<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      
      <ul class="navbar-nav ml-auto">

        {% if session["loggedin"] %}
          
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
          </li>

        {% else %}
        
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/register">Sign Up <span class="sr-only">(current)</span></a>
          </li>

        {% endif %}
      </ul>

    </div>
  </nav>